<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="output.css"/>
    <link rel="shortcut icon" href="/images/AttendPro-logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- <script src="/js/stu_dashboard.js" defer></script> -->
</head>
<body class="h-screen overflow-hidden bg-gradient-to-r from-[#5254dd1d] to-white text-[#515151]">
    <!-- Navbar -->
    <div class="nav-con text-[#515151] w-full bg-[#F7F7F7] shadow-md " >
      <nav class="navbar w-11/12 flex justify-between items-center m-auto">
        <div
          class="at-logo text-[#515151] font-bold text-2xl flex items-center"
        >
          Attend<span class="text-[#5254dd]">Pro</span>
        </div>
        <div class="nav-links flex items-center h-16">
          <div class="h-10 w-36 self-center bg-[#5254dd] hover:bg-[#5254dd]/90 rounded-lg cursor-pointer text-white font-medium flex justify-center items-center gap-1">
            Change Password
          </div>
        </div>
        </nav>
    </div>
    <div class="cal-con w-full mt-20">
    <div class="w-[500px] m-auto min-h-[400px] bg-white p-4 border rounded-lg">
        <div class="flex justify-around">
            <span class="material-symbols-outlined cursor-pointer">chevron_left</span>
            <div class="month"></div>
            <span class="material-symbols-outlined cursor-pointer">chevron_right</span>
        </div>
        <div class="my-4 flex justify-between">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thurs</div>
            <div>Sat</div>
        </div>
        <table>
            <tr>
                <td class="#216a8d"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <hr>

    </div>
    </div>    
    
    

</body>
</html>