* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  /* background-color: #c9d6ff; */
  background-color: rgb(249, 231, 215);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

/* ============================================================================================================= */

.nav-con{
  width: 100%;
  /* position: fixed;         this mf is the reason why navbar was sticky apparently */
  top: 0;          
  left: 0;    
  z-index: 1000; 
  backdrop-filter: blur(10px); 
  background-color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px  0px 10px 0px;
  width: 90%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  unicode-bidi: isolate;
}

.at-logo{
  color: #140303;
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 10px;
}   
.at-logo span{
  color: #e4954b;
}
.nav-links{   
  display: flex;
  align-items: center;
  flex-shrink: 0;   
  gap: 1rem;
  flex-wrap: wrap;
  @media (max-width: 716px) {
      display: none;
   
  }
  margin-top:  20px;
}
li{
  list-style: none;
  flex-shrink: 0.5;
}
.nav-links a{
  text-decoration:none; 
  color: #230404; 
  font-family: 'Montserrat',sans-serif;
  font-size: 22px;
  font-weight: 100;
  margin-right: 80px;
  /* margin-left: 80px; */ 
  font-weight: 300;
  
}
.link a::after{
  content:'';
  display: block;
  height: 4px;
  width: 0px;
  /* background-color: #00AFFF; */
  transition: all .5s;
} 
.link a:hover::after{
  width: 60%;
} 

/* ============================================================================================================ */
/* common area */

.container {
  /* background-color: #fff; */
  /* background-color: rgb(249, 231, 215);  */
  background-color: rgb(251, 245, 240); 
  /* border-radius: 150px; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* max-width: 100%; */
  min-height: 480px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}
/* .container button {
  background-color: #008ecf;
  color: #fff;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
} */

/* .container button.hidden {
  background-color: transparent;
  border-color: #fff;
  width: 150px;
  border-radius: 50px; 
  border: 1px solid #fff;
  background: #008ecf;
} */

/* .container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
} */

.container input {
  background-color: #eeeeee; 
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

/* ============================================================================================================ */
/* sanu div css */

.manage_lect {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
  display: none;
}

/* left side */
.first_div{
  /* margin-top : 1rem; */
  top: 0;
  height: 100%;
  width: 60%;
  /* border-width: 8px 8px 8px 8px;
  border-style: ridge;
  border-color: #fff; */
}

.imformation{
  background-color:#6F4E37;
  height: 15%;
  width: 101.5%;
  align-content: space-around;
  border-width: 0px 0px 8px 0px;
  border-style: ridge;
  border-color: #fff;
}

.imformation label{
  justify-content: center;
  font-family: 'Raleway',sans-serif ;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  height: 100%;
  width: 100%;
  padding-top: 1.2rem;
  display: flex;
}

.info{
  position: relative;
  /* bottom : 5rem; */
  width: 100%;
  height: 65%;
  /* margin-bottom: 20px; */
}

.form_lecture {
  /* background-color: rgb(254, 254, 253); */
  background-color: rgb(251, 245, 240); 
  /* background-color: rgb(249, 231, 215); */
  display: flex;
  align-items: left;
  /* justify-content: center; */
  flex-direction: column;
  padding: 40px 40px;
  /* padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 75%;
  margin-bottom: 5px;*/
} 

.label_lect_dd{
  /* background-color: red; */
  font-size:18px;
  font-weight:700;
  /* justify-content: left; */
  
}

.lect_dd{
  /* background-color: #eee; */
  background-color: #eeeeee ;
  border: none;
  /* border-color: black; */
  margin: 8px 0px 25px 7px;
  padding: 10px 15px;
  box-shadow:0 0 8px #533a29;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.buttons_div{
  /* display: flex; */
  margin-top: 25px;
  width: 100%;
  height: 10%;
  flex-wrap: wrap;
  gap: 30px;
  background-color: rgb(251, 245, 240);
  /* background-color: rgb(249, 231, 215); */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  /* height: 15px;  */
}

.add{
  background-color: #6F4E37;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px 0 0 20px ;
  cursor: pointer;
  height: 50px;
  width: 40%;
}

/* .remove{
  background-color: #6F4E37;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
} */

.hidden{
  display: flex;
  width: 20%;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #6F4E37;;
}

.btn_save_btn{
  background-color: #6F4E37;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
  height: 50px;
  width: 250px;
}


/* right side */

.second_div{
  /* background-color: pink; */
  background-color: rgb(251, 245, 240);
  /* background-color: rgb(249, 231, 215); */
  height: 100%;
  width: 40%;
}

.label_exi_lec{
  /* background-color: pink; */
  font-weight: 600;
  font-size: 30px;
  color:#6F4E37;
  align-items: center;
  justify-items: center;
  padding-bottom: 20px;
  padding-left: 55px;
}

.form_exis_lect{
  
  /* background-color: #fff; */
  background-color: rgb(251, 245, 240);
  /* background-color: rgb(249, 231, 215); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.info_div2{
  /* background-color: #eeeeee; */
  height: 60%;
  width: 100%;
  box-shadow : 2px 2px  2px 2px black ;
  margin: 0 0 3em 0;
  display: flex;
    flex-direction: column; /* Aligns child elements vertically */
    align-items: center;
   /* justify-content: space-between; */
   gap: 10px;
  /* display:block ;
  align-items: center; */
  /* align-content: center; */
}
.lecture_label{
  padding-top: 7px;
  padding-left: 60px;
  /* padding-bottom: 10px; */
  padding-right: 10px;
  /* margin-top: 20px; */
  height: 80%;
  width: 60%;
  background-color:#d5b190;
  border-radius: 40px;
  align-content: center;
  overflow: hidden;
  font-weight: 700;
  display: flex;
  /* justify-content: center; */
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lecture_label_button{
  /* Cross button styling */
  /* position: absolute; */
  /* top: 0; */
  width: 35px;
  height: 25px;
  /* right: 0; */
  font-size: 16px;
  color: #0a0707;
  cursor: pointer;
  background-color: transparent;
  border-width: 2px;
  border-color: #0a0909;
  border-radius: 50%;
  margin-right: 40px;

}

/* Optional hover effect for the cross button */
.lecture_label_button:hover {
  color: #d80000;
  border-color: #d80000;
}

.lect_div_class{
  margin-top: 10px;
  /* padding-left: 10px; */
  /* background-color: black; */
  width: 100%;
  height: 10%;
  display: flex;
    flex-direction: row; 
    align-items: center;
    background-color:#d5b190;
}

.container.active .manage_lect {
  transform: translateX(100%);
  opacity: 1;
  z-index: 10; /*5*/
  /* animation: move 0.6s; */
  transition: opacity 0.6s ease;
  /* background-color: black; */
}

/* ======================================================================================== */
/* khushi div css */

.title {
  /* background-color: rgb(241, 213, 190); */
  font-size: 30px;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 700;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color:#6F4E37; */
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  /* border-radius: 5px; */
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}
.user-details{
  position: relative;
  margin-top: 50px;
  padding-top: 20px;
  background-color: rgb(251, 245, 240);
  width: fit-content;
  
}
form .user-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* background-color: #6F4E37; */

  /* justify-content: space-between; */
  /* margin: 20px 0 12px 0; */
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
  /* box-shadow: 0 5px 10px rgba(4, 12, 166, 0.844); */
  
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
span.details{
  font-size: 15px;
  font-weight: 40;
  padding: 0%;
}
/* ------------- */
form .user-details .input-box input,
form .user-details .input-box select { 
  width: 100%; /*100*/
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #3e1f02;
  border-radius: 5px;
  height: 30px;
  /* background-color: #eee; */
  box-shadow: 0 5px 10px rgba(136, 80, 2, 0.844);
}

/* Center the labels */
form .user-details .input-box label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  text-align: center;
}
/* ----------- */
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.6s ease; /*0.3*/
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #472b01;
}

form .button_div {
  height: 45px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
form .sv_button{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.6s ease; /*0.3*/
  /* background: #0c9de1; */
  background:#6F4E37;
  
  /* padding-top: 30px; */
  
}

.profile_div {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out; /*0.6*/
  left: 0;
  width: 50%;
  /* z-index: 2; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: block;
}

.container.active .profile_div {
  transform: translateX(100%);
  z-index: 1;
}


/* @keyframes move {
  0%, 49.99%{
    opacity: 0;
    z-index: 1;
  }
   50%, 100%{
    opacity: 1;
    z-index: 5;
  }
} */




/* ========================================================================================================= */
/* dont touch this stufff */

.left_shift_div{
  display: flex;
  width: 100%;
  height : 10%;
  justify-content:flex-end;
  margin-right: 2rem;
}

.right_shift_div{
  display: flex;
  width: 100%;
  height : 10%;
  justify-content:flex-start;
  margin-left: 2rem;
}


.toogle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  /* border-radius: 150px; */
  z-index: 1000;
  transition: all 0.6s ease-in-out;
}

.container.active .toogle-container {
  transform: translateX(-100%);
  /* border-radius: 150px;  */
}

.toogle {

  height: 100%;
  background: linear-gradient(to right, #008ecf, #008ecf);
  color: #fff;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  /* background: url('images/img3.jpg'); */
}

.container.active .toogle {
  transform: translateX(50%);
}

.toogle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toogle-left {
  transform: translateX(-200%);
  /* background: url('images/img2.jpg'); */
}

.container.active .toogle-left {
  transform: translateX(0);
  /* background: url('images/img2.jpg'); */
}

.toogle-right {
  right: 0;
  transform: translateX(0);
  /* background: url('images/img2.jpg'); */
  /* background: url('images/img1.jpg'); */
}

.container.active .toogle-right {
  /* background: url('images/img2.jpg'); */
  transform: translateX(200%);
  /* background: url('images/img1.jpg'); */
}

.third_division{
  background-color: #333;
}
